# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
/bin
/build
/.clangd
compile_commands.json
CMakeSettings.json
/V2SGUI/obj
/V2SGUI/bin
/V2SGUI/.vs
/.vs
/out
